p.quote {
  @include media($tablet) {
    padding: .5em;
  }
  padding-left: 5em;
  padding-right: 5em;
  font-size: 150%;
  text-align: center;
  margin-bottom: 3em;

  position: relative;

  span.name {
    @include media($mobile) {
      right: 0em;
      width: 100%;
      text-align: center;
    }
    position: absolute;
    right: 3em;
    bottom: -2em;
    font-style: normal;
  }

  i {
    @include media($tablet) {
      display: none;
    }
    margin-right: .3em;
    float: left;
    font-size: 2.5em;
  }
}
