@font-face {
  font-family: 'icon';
  src:
    url('/static/fonts/icon.ttf?q93fcr') format('truetype'),
    url('/static/fonts/icon.woff?q93fcr') format('woff'),
    url('/static/fonts/icon.svg?q93fcr#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-write:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e902";
}
.icon-monitor:before {
  content: "\e903";
}
.icon-dashboard:before {
  content: "\e904";
}
