@import "neat/neat-helpers";

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

$desktop: new-breakpoint(max-width 992px 12);
$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);

$visual-grid: false;
