@import "grid-settings";
@import "neat/neat";


// Variables
@import "colors";

// Component includes
@import "components/menu";
@import "components/header";

div.container {
  @include outer-container;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background1;
  color: $text;
}
a {
  color: $text;
}
